.shopcategory-banner {
  display: block;
  margin: 30px auto;
  width: 82%;
}

.shopcategory-indexSort {
  display: flex;
  margin: 0px 170px;
  justify-content: space-between;
  align-items: center;
}

.shopcategory-sort {
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #888;
}

.shopcategory-indexSort p span {
  font-weight: 600;
}

.shopcategory-products {
  margin: 20px 170px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 80px;
}

/* pagination */
.shopcategory-pagination {
  display: flex;
  justify-content: center;
  margin-top: 100px; /* Khoảng cách giữa sản phẩm và phân trang */
}

.MuiPagination-ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.MuiPaginationItem-root {
  margin: 0 8px; /* Khoảng cách giữa các nút phân trang */
  /* padding: 12px !important;
    border-radius: 50% !important; */
}

.Mui-selected {
  background-color: #1976d2; /* Màu nền của trang đang được chọn */
  color: #fff; /* Màu chữ của trang đang được chọn */
  border-radius: 4px; /* Để làm cho nút trang đang được chọn trông hấp dẫn hơn */
}

/* Chỉnh font size lên 24px */
.MuiPaginationItem-root {
  font-size: 12px !important;
}

.shopcategory-sort {
  display: flex;
  align-items: center;
}

.shopcategory-sort select {
  margin-left: 10px;
  padding: 8px;
  border-radius: 5px;
  /* border: 1px solid #7a7a7a; */
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 16px;
}

.shopcategory-sort img {
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

.shopcategory-loadmore {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 150px auto;
  width: 233px;
  height: 69px;
  border-radius: 75px;
  background: #ededed;
  color: #787878;
  font-size: 18px;
  font-weight: 500;
}
